// Colors
$color-peach: #e7816b;
$color-light-peach: #ffad9b;
$color-black: rgb(29, 28, 30);
$color-dark-grey: rgb(95, 91, 101);
$color-light-grey: #f1f3f5;
$color-white: #ffffff;
$color-about: #fdf3f0;

// Button
$button-padding: 12px 24px;
$button-radius: 8px;

// font-family
$font-family-primary: "Jost", sans-serif;
