.appdesigno {
  margin-bottom: 16rem;
}
.appdesigno__container {
  width: 100%;
  max-width: 1075px;
  background-color: $color-peach;
  text-align: center;
  color: $color-white;
  border-radius: 1.5rem;
}

.appdesigno__title {
  @include heading-h1;
  padding-top: 6.4rem;
  padding-bottom: 1.6rem;
}
.appdesigno__text {
  @include body-text;
  padding-bottom: 6.4rem;
  width: 100%;
  max-width: 1075px;
}

// SECTION START

.eyecam {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
  row-gap: 3.2rem;
  column-gap: 2rem;
  align-items: center;
  margin-bottom: 16rem;
}

.eyecam__wrapper {
}
.eyecam__image {
  width: 100%;
  max-width: 340px;
  height: auto;
  border-radius: 1.5rem 1.5rem 0 0;
}
.eyecam__content {
  background-color: $color-light-peach;
  width: 100%;
  max-width: 340px;
  border-radius: 0 0 1.5rem 1.5rem;
  padding: 3.2rem;
  text-align: center;
}
.eyecam__title {
  @include heading-h3;
  padding-bottom: 1.6rem;
}
.eyecam__text {
  width: 100%;
  max-width: 286px;
  @include body-text;
}

@media screen and (max-width: 768px) {
  .eyecam {
    grid-template-columns: 1fr;
  }

  .eyecam__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .eyecam__content {
    border-radius: 0 1.5rem 1.5rem 0;
    width: 100%;
    max-width: 689px;
    height: 34.8rem;
    padding-bottom: 10rem;
    padding-top: 1.6rem;
  }

  .eyecam__image {
    height: 34.8rem;
    border-radius: 1.5rem 0 0 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  .sitenav {
    display: none;
  }

  .eyecam__wrapper {
    flex-direction: column;
  }

  .eyecam__content {
    border-radius: 0 0 1.5rem 1.5rem;
    height: auto;
  }

  .eyecam__image {
    width: 100;
    max-width: 33.9rem;
    border-radius: 1.5rem 1.5rem 0 0;
  }

  .eyecam__text {
    padding-bottom: 3.2rem;
    margin-bottom: 0;
  }
}
