.serve {
  padding-bottom: 16rem;
}
.serve_container {
  background-color: $color-peach;
  text-align: center;
  color: $color-white;
  width: 100%;
  max-width: 1111px;
  border-radius: 1.5rem;
}

.serve__title {
  @include heading-h2;
  padding-top: 6.4rem;
  padding-bottom: 2.4rem;
}
.serve__text {
  @include body-text;
  padding-bottom: 6.4rem;
}

@media screen and (max-width: 768px) {
  .serve_container {
    width: 100%;
  }
}
// SECTION START

.express {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
  row-gap: 3.2rem;
  align-items: center;
  margin-bottom: 16rem;
}

.express__image {
  width: 100%;
  max-width: 340px;
  height: auto;
  border-radius: 1.5rem 1.5rem 0 0;
}
.express__content {
  background-color: $color-light-peach;
  width: 100%;
  max-width: 340px;
  border-radius: 0 0 1.5rem 1.5rem;
  padding: 3.2rem;
  text-align: center;
}
.express__title {
  @include heading-h3;
}
.express__text {
  width: 100%;
  max-width: 286px;
  @include body-text;
}

@media screen and (max-width: 768px) {
  .express {
    grid-template-columns: 1fr;
  }

  .express__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .express__content {
    border-radius: 0 1.5rem 1.5rem 0;
    width: 100%;
    max-width: 689px;
    height: 34.8rem;
  }

  .express__title {
    margin-top: auto;
    padding-bottom: 1.6rem;
  }

  .express__text {
    margin-bottom: auto;
  }

  .express__image {
    height: 34.8rem;
    border-radius: 1.5rem 0 0 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  .express__wrapper {
    flex-direction: column;
  }

  .express__content {
    border-radius: 0 0 1.5rem 1.5rem;
    height: auto;
  }

  .express__image {
    border-radius: 1.5rem 1.5rem 0 0;
  }

  .express__text {
    padding-bottom: 3.2rem;
    margin-bottom: 0;
  }
}

// SECTION START
.project__container {
  height: 30.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  row-gap: 2.4rem;
  grid-template-areas: "wepd appd";
}

@media screen and (max-width: 768px) {
  .project__container {
    height: auto;
    grid-template-columns: 1fr;

    grid-template-areas:
      "wepd "
      "appd"
      " graphid";
  }
}
